<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


  <!-- NAVBAR-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="btn btn-sm btn-primary" style="margin:5px; ">Home Page</a>
   
    <a href="/add" class="btn btn-sm btn-primary " style="margin-left:auto;">Previous Transfers</a>
  </nav>

  <!--NAVBAR END-->



  <div class="container">
    <h2><%= title %></h2>


    <form action="/updatecredits" method = "post">

    <input type="hidden" value="<%= user.id %>" name="id1">

    <input type="hidden" value="<%= user.name %>" name="name1">
            
     <label for="id2">Choose a person:</label>
      <select id="id2" name="id2">
          <% users.forEach(function(userii){ %>
          <option value="<%=userii.name%>"><%= userii.name %></option>
          
        <% }); %> 
      </select>
      <br>        
   

     <label for="quantity">Quantity (between 1 and <%= user.credits %>):</label>
       <input type="number" id="quantity" name="quantity" min ="1" max= "<%= user.credits %>" required >
            
       <br>
       <input type="submit">
    
    </form>



 
    
  </div>
  
    
  
</div>

</body>
</html>